* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1D1A59;
    color: #FFFF;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #302c76; /* Mid-tone purple */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header-img {
    height: 100px;
}

#nav-bar {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #FFD700;
    font-weight: bold;
}

#features ul {
    margin-top: 10px;
    list-style-type: disc;
    padding-left: 20px;
    color: #FFFFFF;
}

#features, #how-it-works, #pricing, #contact {
    padding: 150px 100px 10px;
    scroll-margin-top: 200px;
}

h2 {
    color: #FFD700;
    margin-bottom: 20px;
}

#video {
    width: 100%;
    max-width: 600px;
    height: 350px;
    margin: 20px auto;
    display: block;
    border: 2px solid #FF69B4;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #FF69B4;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    background-color: #3B278F;
    color: #FFFFFF;
}

input[type="submit"] {
    background-color: #FFD700;
    color: #1D1A59;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.features-icons {
    width: 40px;
    height: 40px;
}


.pricing-option {
    display: inline-block;
    width: 200px;
    padding: 20px;
    background-color: #2C1B69;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.pricing-option h3 {
    color: #FFD700;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #3B278F;
    color: #FFD700;
}

@media (max-width: 768px) {
    #header {
        flex-direction: column;
    }

    #nav-bar {
        flex-direction: column;
        align-items: center;
    }
}
