body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

#manejo-imagenes > .imagen {
    user-select: none;
    width: 50vmin;
    height: 50vmin;
    object-fit: cover;
    object-position: center 100%;
}

#manejo-imagenes {
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    transition: transform 1.5s ease;
}

h1 {
    user-select: none;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);

    letter-spacing: 2px;
}

h1 {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 100;
    }
}
